:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --primary-color: #5fd387;
  --primary-light: #a9d9bf;
  --primary-dark: #1d915c;
  --primary-color-transparent: rgba(95, 211, 135, .25);
  --secondary-color: #ffffff;
  --danger: #ff0062;
  --black: #000;
  --dark-grey: #333333;
  --shadow: 3px 3px 10px #ddd;
  --space: 30px;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  background-size: cover;
  background-repeat: repeat;
  color: #232323;
  margin: 8px 4px 0 4px;
  padding-bottom: 120px;
  padding-top: 105px;
}

a {
  color: var(--primary-color);
}

a:hover a:active {
  color: var(--primary-color);
}

.primary-text {
  color: var(--primary-color);
}

.firstcon {
  padding: 0 12% 2% 12%;
}

.form-control {
  border-radius: var(--space);
  text-align: center;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color-transparent);
}

.form-group {
  margin: 0;
}

.landing-col {
  display: flex;
  justify-content: center;
}

.landing-img {
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0;
}

.landing-text {
}

.landing-text::after {
  border: solid 1px var(--primary-color);
  height: 60px;
  width: 1px;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;
  content: "";
}

.landing-label {
  color: var(--black);
  border-radius: 15px;
}

.question-number {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border: solid 5px var(--primary-color);
  border-radius: 50%;
  display: block;
  text-align: center;
}

.question-text {
  text-align: left;
  padding-left: 40px;
}

.pic-select-label {
  margin: 0;
}

.check input:checked ~ .checkmark.checkmark-pic {
    width: 100%;
    height: 100%;
    background: var(--primary-color-transparent);
    border-radius: 0;
    border: solid 2px var(--dark-grey);
}

.scrambled-letters {
  overflow-wrap: break-word;
}

.scrambled-letters span {
  text-align: center;
  border: solid 3px var(--primary-color);
  padding: 5px 15px;
  margin: 10px;
  line-height: 65px;
}

.form-control.feedbackOrder-input {
  width: 50px;
  height: 50px;
  margin-left: auto;
  float: left;
  border-radius: 50%;
  padding: 0;
}

.form-control.feedbackOrder-input:first-of-type {
  margin-left: 0;
}

@media (max-width: 425px) {
  .landing-col {
    padding-left: 0;
  }

  .landing-img {
    width: 40px;
  }

  .landing-label {
    font-size: 10px;
  }

  .landing-h1 {
    font-size: 17px;
  }

  .landing-text::after {
    height: 45px;
    right: 5px;
  }

  .btn {
    width: 100%;
  }

  .scrambled-letters {
    font-size: 20px
  }

  .scrambled-letters span {
    padding: 0px 5px;
  }

  .form-control.feedbackOrder-input {
    width: 35px;
    height: 35px;
  }
}

/* Customize the label (the checkbtn) */
.checkbtn {
  display: inline-flex;
  position: relative;
  padding: 7px 15px;
  margin-bottom: 12px;
  margin-right: 15px;
  cursor: pointer;
  justify-content: center;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  background: var(--primary-color);
  border-radius: 30px;
}

@media (min-width: 426px) {
  .checkbtn  {
    width: 200px;
  }
}

@media (max-width: 425px) {
  .checkbtn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .checkbtn {
    font-size: 10px;
  }
}

.checkbtn.bg-primary-light {
  background: var(--primary-light);
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.takequizbtn {
  width: 310px;
}

.crop-container {
  position: relative;
  /* bottom: -81px; */
  width: 100%;
  min-height: 500px;
}

@media (max-width: 1024px) {
  .takequizbtn {
    width: 200px;
  }
}

h1 {
  font-size: 24px;
}

p {
  font-size: 15px;
  padding-top: 1%;
}

@media (max-width: 1024px) {
  p {
    font-size: 14px;
  }
}

li {
  padding-top: 5px;
  text-align: left;
}

 ul {
   text-align: left;
 }

.btn-sm {
  background-color: #34d058;
  color: white;
}

.footer {
  display: inline-block;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  color: black;
  background-color: var(--primary-light);
  padding: 20px 0;
}

.footerbtns {
  text-align: right;
  float: right;
  margin-right: 5%;
}

.footertext {
  font-size: 18px;
  float: left;
  margin-left: 5%;
}

img.homeimage {
  position: fixed;
  z-index: -1;
  bottom: 70px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  body {
    background-repeat: no-repeat;
  }

  .footer {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    position: fixed;
    color: black;
    background-color: #34d186;
    padding: 5% 0;
  }

  img.homeimage {
    max-height: 100px;
    position: fixed;
    bottom: 85px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footerbtns {
    text-align: center;
    float: none;
    margin-bottom: 4%;
    margin: 0;
  }

  .footertext {
    display:inline-block;
    width: 240px;
    float: none;
    margin: 0 0;
  }
}

.captcha {
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
	justify-content:center;
	align-items:center;
}

@media screen and (max-width: 500px) {
	.captcha {
		flex-direction:column;
	}
	.captcha  .text {
		margin:.5em!important;
		text-align:center;
	}
	.captcha .logo {
		align-self: center!important;
	}
	.captcha .spinner {
		margin:2em .5em .5em .5em!important;
	}
}

.captcha .text {
	font-size:1.75em;
	font-weight:500;
	margin-right:1em;
}
.captcha .spinner {
	position:relative;
	width:2em;
	height:2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}
.captcha input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.captcha input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:2em;
	height:2em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
.captcha input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
.captcha input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
.captcha input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
.captcha input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
.captcha input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
.captcha input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
.captcha input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.captcha .logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.captcha .logo img {
	height:2em;
	width:2em;
}
.captcha .logo p {
	color:#9d9ba7;
	margin:0;
	font-size:1em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.captcha .logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
.captcha  ::selection {
	background-color:transparent;
	color:teal;
}
.captcha ::-moz-selection {
	background-color:transparent;
	color:teal;
}

.social {
    color: #fff;
    text-align: center;
  }
  
  .social.facebook {
    background-color: #3b5998;
    color: #fff;
  }
  
  .social.twitter {
    background-color: #38A1F3;
    color: #fff;
  }
  
  .social.whatsapp {
    background-color: #25D366;
    color: #fff;
  }
